<div class="container mt-3">
  <div class="row">
    <div class="col-2 bg-light rounded"><ul>
        <a href=""><li>Điện thoai</li></a>
        <a href=""><li>Laptop</li></a>
        <a href=""><li>Đồng hồ</li></a>
        <a href=""><li>Phụ kiện</li></a>
      </ul></div>
    <div class="col mx-2 rounded"><img
        src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:90/plain/https://dashboard.cellphones.com.vn/storage/dreame-d9-max-sliding-1902.jpg"
        class="card-img-top rounded"
        alt="sd"
      /></div>
    <div class="col-3 bg-dark rounded">sdfsd</div>
  </div>
  {{! sản phẩm nổi bậc cho từng danh mục, mỗi mục 10 sản phẩm được xem nhiều nhất }}
  <div class="mt-3">
    <div class="row d-flex align-items-center">
      <div class="col-auto fs-4 text-uppercase">Điện thoại</div>
      <div class="col"><ul class="nav">
          <li
            class="btn btn-outline-light px-2 ms-2 custom-bg-gray text-black"
          >Apple</li>
          <li
            class="btn btn-outline-light px-2 ms-2 custom-bg-gray text-black"
          >SamSung</li>
          <li
            class="btn btn-outline-light px-2 ms-2 custom-bg-gray text-black"
          >Xiaomi</li>
          <li
            class="btn btn-outline-light px-2 ms-2 custom-bg-gray text-black"
          >OPPO</li>
          <li
            class="btn btn-outline-light px-2 ms-2 custom-bg-gray text-black"
          >Nokia</li>
        </ul></div>
    </div>
    <div class="row">

    </div>
  </div>

</div>