<section class="">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="/img/static/login.jpeg"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form action="/api/login" method="post">

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="email"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
              name="email"
            />
            <label class="form-label" for="form3Example3">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Enter password"
              name="password"
            />
            <label class="form-label" for="form3Example4">Password</label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input
                class="form-check-input me-2"
                type="checkbox"
                value=""
                id="form2Example3"
              />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <button
              id="btnResetPassword"
              type="button"
              class="btn btn-link"
              data-bs-toggle="modal"
              data-bs-target="#resetPasswordModal"
            >Quên mật khẩu?</button>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;"
            >Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Bạn đã có tài khoản
              <a href="/signUp" class="link-danger">Đăng kí</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
{{! modal quên mật khẩu }}
<div
  class="modal fade"
  id="resetPasswordModal"
  tabindex="-1"
  aria-labelledby="resetPasswordLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Gửi lại mật khẩu mới
          !!!</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label
              for="inpEmailResetPassword"
              class="col-form-label"
            >Email</label>
            <input
              type="text"
              class="form-control"
              id="inpEmailResetPassword"
              name="email"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
        <button
          id="btnSendNewPassword"
          type="button"
          class="btn btn-primary"
        >Gửi mật khẩu mới</button>
      </div>
    </div>
  </div>
</div>