<section class="">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="/img/static/login.jpeg"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="post" action="/api/signUp">
          {{#if messageError}}
            <p
              class="bg-danger text-white rounded px-3 py-1"
            >{{messageError}}</p>
          {{/if}}
          <div class="form-outline mb-2">
            <input
              type="text"
              id="name"
              class="form-control form-control-lg"
              placeholder="Nhập họ và tên"
              name="name"
              value="{{formData.name}}"
              required
            />
            <label class="form-label" for="name">Họ và tên</label>
          </div>
          <div class="form-outline mb-2">
            <input
              type="email"
              id="email"
              class="form-control form-control-lg"
              placeholder="Nhập địa chỉ email"
              name="email"
              value="{{formData.email}}"
              required
            />
            <label class="form-label" for="email">Email</label>
          </div>
          <div class="form-outline mb-2">
            <input
              type="password"
              id="password"
              class="form-control form-control-lg"
              placeholder="Nhập mật khẩu"
              name="password"
              required
            />
            <label class="form-label" for="password">Mật khẩu</label>
          </div>
          <div class="form-outline mb-2">
            <input
              type="password"
              id="confirmPassword"
              class="form-control form-control-lg"
              placeholder="Nhập lại mật khẩu"
              name="confirmPassword"
              required
            />
            <label class="form-label" for="confirmPassword">Nhập lại mật khẩu</label>
            <p id="errorPassword" class="opacity-0 text-danger">*Mật khẩu không
              khớp</p>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input
                class="form-check-input me-2"
                type="checkbox"
                value=""
                id="form2Example3"
                required
              />
              <label class="form-check-label" for="form2Example3">
                Đồng ý với các điều khoản của chúng tôi
              </label>
            </div>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;"
            >Register</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Do have an account?
              <a href="/login" class="link-danger">Login</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>