.admin-container .addPro-body {
  margin: 3% 3% 0 3%;
}
/* ============================================== */
/* .admin-container .addPro-body #multiImagePreview img {
  width: 20%;
}
.admin-container .addPro-body .addDetail-btn-div {
  width: 100%;
  height: 50px;
  position: relative;
}
.admin-container .addPro-body .addDetail-btn-div button {
  position: absolute;
  top: 0;
  right: 0;
}
.admin-container .addPro-body .brand {
  margin-top: 1%;
}
body
  > div
  > form
  > div:nth-child(3)
  > div:nth-child(2)
  > div.detail-div
  > div
  > div.btn-div.position-relative {
  width: 100%;
  height: 40px;
}
body
  > div
  > form
  > div:nth-child(3)
  > div:nth-child(2)
  > div.detail-div
  > div
  > div.btn-div.position-relative
  > button.btn.btn-success.position-absolute.addAttribute-btn {
  top: 2px;
  right: 47px;
}
body
  > div
  > form
  > div:nth-child(3)
  > div:nth-child(2)
  > div.detail-div
  > div
  > div.btn-div.position-relative
  > button.btn.btn-danger.position-absolute.removeAttribute-btn {
  top: 2px;
  right: 2px;
}
body
  > div
  > form
  > div:nth-child(3)
  > div:nth-child(2)
  > div.detail-div
  > div
  > div.attribute-div.row.g-2 {
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 3px;
} */
