<div class="container">
  <h2>ID đơn hàng: {{orders._id}}</h2>
  <h4>ID Khách Hàng: {{orders.idUser}}</h4>
  <div class="row">
    <div class="col-9">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Sản Phẩm</th>
            <th scope="col">Thuộc Tính</th>
            <th scope="col">Màu Sắc</th>
            <th scope="col">Số Lượng</th>
            <th scope="col">Tổng</th>
          </tr>
        </thead>
        <tbody>
          {{#each orders.details}}   
              <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.price}}</td>
              </tr>
          {{/each}}
        </tbody>
      </table>
      <div
        class="d-flex justify-content-between py-3 border-bottom border-translucent mb-6"
      >
        <p class="text-body-emphasis fw-semibold">Tổng :</p>
        <p class="text-body-emphasis fw-bold me-5">53.800.000</p>
      </div>
      <div class="row">
        <div class="col-4">
          <h5>Chi Tiết Khách Hàng</h5>
          <h6><i class="bi bi-person-circle"></i> Nguyễn Văn A</h6>
          <h6><i class="bi bi-envelope"></i> nguyenvanA@gmail.com</h6>
          <h6><i class="bi bi-telephone"></i> 0354514832</h6>
        </div>
        <div class="col-4">
          <h5>Chi Tiết Giao Hàng</h5>
          <h6><i class="bi bi-person-circle"></i> Nguyễn Văn A</h6>
          <h6><i class="bi bi-envelope"></i> nguyenvanA@gmail.com</h6>
          <h6><i class="bi bi-telephone"></i> 0354514832</h6>
          <h6><i class="bi bi-house"></i>
            số 55, đường 3/2, phường Xuân Khánh, Quận Ninh Kiều, TP Cần Thơ</h6>
        </div>
        <div class="col">
          <h5>Chi Tiết Khác</h5>
          <h6><i class="bi bi-gift"></i> Giảm Giá: Có</h6>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12 card w-100">
          <div class="card-body">
            <div>
              <div class="d-flex justify-content-between">
                <p class="text-body fw-semibold">Tổng :</p>
                <p class="text-body-emphasis fw-semibold">53.800.000</p>
              </div>
              <div class="d-flex justify-content-between">
                <p class="text-body fw-semibold">Tổng giảm giá :</p>
                <p class="text-body-emphasis fw-semibold">800.000</p>
              </div>
              <div
                class="d-flex justify-content-between border-top border-translucent border-dashed pt-4"
              >
                <h4 class="mb-0">Tổng :</h4>
                <h4 class="mb-0">53.000.000</h4>
              </div>
            </div>
          </div>
        </div>
        {{! ================================================================ }}
        <div class="col-12 card w-100 mt-3">
          <div class="card-body">
            <h5>Trạng thái thanh toán</h5>
            <select class="form-select" aria-label="Default select example">
              <option selected>Trạng thái</option>
              <option value="1">rỗng</option>
            </select>
            <h5 class="mt-3">Trạng thái đơn hàng</h5>
            <select class="form-select" aria-label="Default select example">
              <option selected>Trạng thái</option>
              <option value="1">Chờ xác nhận</option>
              <option value="2">Đã xác nhận</option>
              <option value="3">Đang Vận chuyển</option>
              <option value="3">Đã giao hàng</option>
              <option value="3">Đã hủy</option>
            </select>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>