<form action="" method="" class="addPro-body">
 <div class="row g-2">
    <div class="col-md">
    <label for="name-Product" class="form-label"><h4>Tên Sản phẩm</h4></label>
    <input type="text" class="form-control" id="name-Product" />
  </div>
  <div class="col-md">
    <label for="exampleDataList" class="form-label"><h4>Thương Hiệu</h4></label>
<input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
<datalist id="datalistOptions">
  <option value="NOKIA">
  <option value="SAMSUNG">
</datalist>
  </div>
 </div>
  

  <div class="mb-3">
    <label for="description-Product" class="col-form-label"><h4>Mô Tả Sản Phẩm</h4></label>
    <textarea class="form-control" id="description-Product"></textarea>
  </div>
  {{! ===================================================================== }}
  <div>
    <div class="mb-3">
      <label for="multiImageUpload" class="form-label">Upload Multiple Images</label>
      <input
        type="file"
        class="form-control"
        id="multiImageUpload"
        accept="image/*"
        multiple
      />
    </div>
    <div class="mb-3">
      <p>Image Previews:</p>
      <div id="multiImagePreview" class="row"></div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary close"
            data-bs-dismiss="modal"
          >Close</button>
          <button type="button" class="btn btn-danger delete">xóa</button>
        </div>
      </div>
    </div>
  </div>

</form>