<form method="post" action="/api/product" enctype="multipart/form-data">

  <div class="container">
    <label for="name-Product" class="form-label fs-4">Tên Sản phẩm</label>
    <input
      type="text"
      class="form-control"
      id="name-Product"
      placeholder="Nhập tên Sản Phẩm"
      required
      name="name"
    />
    <label for="description-Product" class="col-form-label fs-4">Mô Tả Sản Phẩm</label>
    <textarea
      class="form-control"
      id="description-Product"
      placeholder="Nhập Mô Tả Sản Phẩm"
      required
      name="description"
    ></textarea>
    <label for="categoryDataList" class="form-label fs-4">Danh Mục</label>

    <select class="form-control" name="idCategory" id="">
      <option value="">Chọn Danh Mục</option>
      {{#each categorys}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>


    {{! -------------------------------- }}
    <label for="brandDataList" class="form-label fs-4 mt-3">Thuộc Tính</label>
    <div class="w-75 container-sm py-4 my-4 border rounded">
      <div class="row">
        <div class="col-md-6">
          <label for="ipNameAttributePro1" class="form-label fs-5">Nhập Tên
            Thuộc tính</label>
        </div>
        <div class="col-md-6">
          <input
            type="text"
            id="inpNameAttributePro1"
            class="form-control variations"
            placeholder=" Nhập Tên Thuộc tính"
            required
          />
        </div>
        <div class="col-md-6 my-3">
          <label for="" class="form-label fs-5">Nhập Thuộc Tính</label>
        </div>
        <div class="col-md-6 my-3" id="inputAttribute1Div">
          <button
            type="button"
            class="btn btn-success form-control addAttribute1-btn"
          >Thêm Thuộc Tính</button>
          <div class="row my-2 attri1-box">
            <input
              type="text"
              placeholder="Nhập Thuộc Tính"
              class="thuocTinh1 form-control col mx-2 variations"
              required
            />
            <button
              type="button"
              class="btn btn-danger col-2"
              onclick="deleteAttribute(event)"
            >Xóa</button>
          </div>
        </div>
      </div>
    </div>
    {{! =============================== }}
    <div class="w-75 container-sm py-4 my-4 border rounded Attribute2div">
      <div class="row">
        <div class="col-md-6">
          <label for="inpNameAttributePro2" class="form-label fs-5">Nhập Tên
            Thuộc Tính</label>
        </div>
        <div class="col-md-6">
          <input
            type="text"
            id="inpNameAttributePro2"
            class="form-control variations"
            placeholder=" Nhập Tên Thuộc Tính"
          />
        </div>
        <div class="col-md-6 my-3">
          <label for="" class="form-label fs-5">Nhập Thuộc Tính</label>
        </div>
        <div class="col-md-6 my-3" id="inputAttribute2Div">
          <button
            type="button"
            class="btn btn-success form-control addAttribute2-btn"
          >Thêm Thuộc Tính</button>
          <div class="row my-2">
            <input
              type="text"
              placeholder="Nhập Thuộc Tính"
              class="thuocTinh2 form-control col mx-2 variations"
            />
            <button
              type="button"
              onclick="deleteAttribute(event)"
              class="btn btn-danger col-2"
            >Xóa</button>
          </div>
        </div>
      </div>
    </div>
    {{! ------------------------- }}
    <table id="custom-varriant" class="table-based table my-3">
      <thead>
        <tr>
          <th class="th1"></th>
          <th class="th2"></th>
          <th>Giá</th>
          <th>Số lượng</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    {{! ------------------------- }}
    <div class="row w-75 my-4">
      <div class="col">
        <label for="" class="form-label fs-5">Nhập số phần trăm giảm :</label>
        <div class="input-group">
          <input
            type="number"
            class="form-control percentInput"
            max="100"
            min="0"
            oninput="this.value = Math.abs(this.value)"
            name="discount[percent]"
            id="percentInput"
          />
          <span class="input-group-text">%</span>
        </div>
      </div>
      <div class="col">
        <label for="" class="form-label fs-5">Ngày bắt đầu :</label>
        <input
          type="date"
          name="discount[startDay]"
          id="discountStart"
          class="form-control"
          disabled="true"
        />
      </div>
      <div class="col">
        <label for="" class="form-label fs-5">Ngày kết thúc :</label>
        <input type="date" name="discount[endDay]" id="discountEnd" class="form-control" disabled="true" />
      </div>
    </div>

    {{! ------------------------- }}
    <div class="my-5">
      <div class="mb-3">
        <label for="multiImageUpload" class="form-label fs-4">Tải Ảnh Lên (TỐI
          ĐA 8 ẢNH)</label>
        <input
          type="file"
          class="form-control"
          id="multiImageUpload"
          accept="image/*"
          multiple
          name="images"
          required
        />
      </div>
      <div class="mb-3">
        <p>Danh sách Ảnh :</p>
        <div id="multiImagePreview" class="row"></div>
      </div>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight">
      <button type="submit" class="btn btn-success mb-4 submitbtn">THÊM SẢN PHẨM</button>
    </div>

  </div>

</form>