<div class="container">
  <div class="d-flex justify-content-end my-3">
    <a href="/admin/product/edit" class="btn btn-success">Chỉnh Sửa</a>
  </div>
  <div class="row">
    <div class="col">
      <h4>Tên Sản phẩm</h4>
      <p>iphone 15 pro max</p>
      <h4>Thương Hiệu</h4>
      <p>Apple</p>
      <h4>Danh mục</h4>
      <p>Điện Thoại</p>
    </div>
    <div class="col">
      <h4>Mô Tả Sản Phẩm</h4>
      <p>iPhone 15 Pro Max 256GB là sản phẩm cao nhất thuộc dòng iPhone 15
        Series. Máy sở hữu thiết kế mỏng nhẹ, tinh tế nhưng không kém phần sang
        trọng đi kèm cấu hình mạnh mẽ nhất trên thị trường hiện nay. Màn hình
        LTPO Super Retina XDR OLED 6.7 inch giúp mang đến những thước phim sống
        động với trải nghiệm thú vị. Bên cạnh đó, khả năng nhiếp ảnh của máy
        cũng được đánh giá cao nhờ camera chính lên đến 48MP và là sản phẩm duy
        nhất được trang bị ống kính tiềm vọng mới, có khả năng zoom quang học
        lên đến 5-6x. Thời lượng pin của máy được nâng cấp đáng kẻ, bạn có thể
        sử dụng liên tục trong 29 giờ với các tác vụ tổng hợp.</p>
    </div>
  </div>
  <div>
    <table class="table-based table">
      <thead>
        <tr>
          <th>Ram</th>
          <th>Màu sắc</th>
          <th>Giá</th>
          <th>Số lượng</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="2">8GB</td>
          <td>Đỏ</td>
          <td>1300</td>
          <td>1200</td>
        </tr>
        <tr>
          <td>Xanh</td>
          <td>1300</td>
          <td>1200</td>
        </tr>
        <tr>
          <td rowspan="2">16GB</td>
          <td>Đỏ</td>
          <td>1300</td>
          <td>1200</td>
        </tr>
        <tr>
          <td>Xanh</td>
          <td>1300</td>
          <td>1200</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h4>Danh Sách Ảnh</h4>
    <img
      src="https://didongmoi.com.vn/upload/images/product/apple/iphone-15-pro-max-chinh-hang-4.jpg"
      alt=""
      class="col-3"
    />
    <img
      src="https://didongmoi.com.vn/upload/images/product/apple/iphone-15-pro-max-chinh-hang-4.jpg"
      alt=""
      class="col-3"
    />
    <img
      src="https://didongmoi.com.vn/upload/images/product/apple/iphone-15-pro-max-chinh-hang-4.jpg"
      alt=""
      class="col-3"
    />
    <img
      src="https://didongmoi.com.vn/upload/images/product/apple/iphone-15-pro-max-chinh-hang-4.jpg"
      alt=""
      class="col-3"
    />
  </div>
</div>