<div class="header-admin-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 leftul">
          <li class="nav-item">
            <select class="form-select" aria-label="Default select example">
              <option selected>THƯƠNG HIỆU</option>
              <option value="1">NOKIA</option>
            </select>
          </li>
          <li class="nav-item position-relative">
            <div class="position-absolute top-0 start-0 start-price">0</div>
            <div
              class="position-absolute top-0 end-0 end-price"
            >51.000.000</div>
            <div class="position-absolute bottom-0 start-50 translate-middle">
              <div class="price-slider" id="slider"></div>
            </div>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-light">LỌC</button>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 rightul">
        <li class="nav-item">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="TÌM KIẾM" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">TÌM</button>
          </form>
        </li>
        <li class="nav-item">
          <a href="#" class="btn btn-light">THÊM SẢN PHẨM</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="body-admin-container">
  <div class="card" style="width: 18rem;">
    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/1/3/13_prooo_3_.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Xiaomi 13 Pro 12GB 256GB</h5>
      <a href="#" class="btn btn-dark">Xem</a>
      <a href="#" class="btn btn-dark">Sửa</a>
      <a href="#" class="btn btn-dark">Xóa</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/d/o/download_2__1_27.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">iPhone 12 Pro Max 128GB - Cũ Đẹp</h5>
      <a href="#" class="btn btn-dark">Xem</a>
      <a href="#" class="btn btn-dark">Sửa</a>
      <a href="#" class="btn btn-dark">Xóa</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/s/1/s10_dn1_7_1_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy S10 5G 256GB</h5>
      <a href="#" class="btn btn-dark">Xem</a>
      <a href="#" class="btn btn-dark">Sửa</a>
      <a href="#" class="btn btn-dark">Xóa</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/1/3/13_prooo_3_.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Xiaomi 13 Pro 12GB 256GB</h5>
      <a href="#" class="btn btn-dark">Xem</a>
      <a href="#" class="btn btn-dark">Sửa</a>
      <a href="#" class="btn btn-dark">Xóa</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/d/o/download_2__1_27.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">iPhone 12 Pro Max 128GB - Cũ Đẹp</h5>
      <a href="#" class="btn btn-dark">Xem</a>
      <a href="#" class="btn btn-dark">Sửa</a>
      <a href="#" class="btn btn-dark">Xóa</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/s/1/s10_dn1_7_1_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy S10 5G 256GB</h5>
      <a href="#" class="btn btn-dark">Xem</a>
      <a href="#" class="btn btn-dark">Sửa</a>
      <a href="#" class="btn btn-dark">Xóa</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/1/3/13_prooo_3_.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Xiaomi 13 Pro 12GB 256GB</h5>
      <a href="#" class="btn btn-dark">Xem</a>
      <a href="#" class="btn btn-dark">Sửa</a>
      <a href="#" class="btn btn-dark">Xóa</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/d/o/download_2__1_27.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">iPhone 12 Pro Max 128GB - Cũ Đẹp</h5>
      <a href="#" class="btn btn-dark">Xem</a>
      <a href="#" class="btn btn-dark">Sửa</a>
      <a href="#" class="btn btn-dark">Xóa</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/s/1/s10_dn1_7_1_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy S10 5G 256GB</h5>
      <a href="#" class="btn btn-dark">Xem</a>
      <a href="#" class="btn btn-dark">Sửa</a>
      <a href="#" class="btn btn-dark">Xóa</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/1/3/13_prooo_3_.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Xiaomi 13 Pro 12GB 256GB</h5>
      <a href="#" class="btn btn-dark">Xem</a>
      <a href="#" class="btn btn-dark">Sửa</a>
      <a href="#" class="btn btn-dark">Xóa</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/d/o/download_2__1_27.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">iPhone 12 Pro Max 128GB - Cũ Đẹp</h5>
      <a href="#" class="btn btn-dark">Xem</a>
      <a href="#" class="btn btn-dark">Sửa</a>
      <a href="#" class="btn btn-dark">Xóa</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/s/1/s10_dn1_7_1_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy S10 5G 256GB</h5>
      <a href="#" class="btn btn-dark">Xem</a>
      <a href="#" class="btn btn-dark">Sửa</a>
      <a href="#" class="btn btn-dark">Xóa</a>
    </div>
  </div>
</div>
<div class="pagination">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>