<div class="container mt-3">
  <div class="row mb-4">
    <div class="col-1">
      <img
        src="https://cellphones.com.vn/smember/_nuxt/img/Shipper_CPS3.77d4065.png"
        alt="avt nè"
        class="img-thumbnail rounded-circle"
      />
    </div>
    <div class="col d-flex flex-column gap-2">
      <div class="text-capitalize fw-bold fs-5">tao nè</div>
      <button
        class="border border-1 border-danger rounded-2 px-3 bg-white text-danger custom-fs-14px custom-w-fitcontent"
      >ZNew</button>
    </div>
  </div>
  <div class="row bg-white border rounded-3 py-2 d-flex mb-4">
    <div class="col-6 text-center mt-2 border-end border-dark">
      <h3>3</h3>
      <p>đơn hàng</p>
    </div>

    <div class="col-6 text-center mt-2">
      <h3>10M</h3>
      <p>tổng tiền tích lũy</p>
    </div>
  </div>

  <div class="row d-flex border rounded-2 px-1 mb-4 custom-w-fitcontent">
    <div class="col-1 custom-w-fitcontent"><i class="bi bi-calendar"></i></div>
    <p class="col m-0 ps-0"><span>01/07/2023</span>
      -
      <span>01/07/2023</span></p>
  </div>
  <ul class="row nav gap-2">
    <li
      class="border border-1 rounded-2 px-3 py-2 bg-white col-2 custom-w-fitcontent"
    >Tất cả</li>
    <li
      class="border border-1 rounded-2 px-3 py-2 bg-white col-2 custom-w-fitcontent"
    >Chờ xác nhận</li>
    <li
      class="border border-1 rounded-2 px-3 py-2 bg-white col-2 custom-w-fitcontent"
    >Đã xác nhận</li>
    <li
      class="border border-1 rounded-2 px-3 py-2 bg-white col-2 custom-w-fitcontent"
    >Đang vận chuyển</li>
    <li
      class="border border-1 rounded-2 px-3 py-2 bg-white col-2 custom-w-fitcontent"
    >Đã giao hàng</li>
    <li
      class="border border-1 rounded-2 px-3 py-2 bg-white col-2 custom-w-fitcontent"
    >Đã hủy</li>
  </ul>
  {{! không có sản phẩm }}
  <div class="row text-center d-flex justify-content-center mt-5 d-none">
    <div class="w-25 mb-2">
      <img
        class="w-100"
        src="https://cellphones.com.vn/smember/_nuxt/img/empty.db6deab.svg"
        alt="không có mua gì hết"
      />
    </div>
    <p>Không có đơn hàng nào thỏa mãn!</p>
  </div>
  {{! có sản phẩm }}
  <div class="tag_product">
    <div class="row card mt-3">
      <div class="col-2 py-1">
        <img
          class="w-100"
          src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/t/a/tai-nghe-khong-day-havit-tw958-pro_2_.png"
          alt=""
        />
      </div>
      <div class="col-6">
        <a href="#">Tên sản phẩm</a>
        <div>Đã giao hàng</div>
        <div>123456</div>
      </div>
      <div class="col">
        <a href="#">Xem chi tiết</a>
      </div>
    </div>
  </div>
</div>