<div class="container">
  <form method="post" action="/api/storeWarranty" enctype="multipart/form-data">
    <div class="row mt-4">
      <div class="col-6">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" />
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">HoVaTen</label>
          <input type="name" name="name" class="form-control" id="name" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="phone" class="form-label">Sodienthoai</label>
          <input type="phone" name="phone" class="form-control" id="phone" />
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Diachi</label>
          <input
            type="address"
            name="address"
            class="form-control"
            id="address"
          />
        </div>
      </div>

      <div class="col-6">
        <div class="mb-3">
          <label for="status" class="form-label">Trạng thái</label>
          <input type="status" name="status" class="form-control" id="status" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="total" class="form-label">Giá</label>
          <input type="total" name="total" class="form-control" id="total" />
        </div>
      </div>
      <div class="col">
        <label for="idProduct" class="form-label">Sản phẩm</label>
        <input class="form-control" list="datalistOptions" id="idProduct" />
        <datalist id="datalistOptions">
          {{#each products}}
            <option value="{{this.name}}"></option>
          {{/each}}
        </datalist>
        <div id="addInput"></div>
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="images">Tải ảnh</label>
        <input
          type="file"
          name="images"
          class="form-control"
          id="images"
          multiple
        />
      </div>
      <div class="mb-3">
        <label for="note" class="form-label">Ghi chú</label>
        <input type="text" name="note" class="form-control" id="note" />
      </div>
      <div class="form-group my-4">
        <button type="submit" class="btn btn-primary">Tạo</button>
      </div>
    </div>
  </form>
</div>