<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Tất cả (###)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Chờ xác nhận (###)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Đã xác nhận (###)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Đang vận chuyển (###)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Đã giao hàng (###)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Đã hủy (###)</a>
    </li>
  </ul>

  <div class="d-flex w-25">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Tìm kiếm đơn hàng"
      aria-label="Search"
    />
    <button class="btn btn-outline-success" type="submit">Tìm</button>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Khách Hàng</th>
          <th scope="col">Trạng Thái</th>
          <th scope="col">Tổng</th>
          <th scope="col">Ngày</th>
          <th scope="col">Hành Động</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
          <tr>
            <td>{{this.idUser}}</td>
            <td>{{this.status}}</td>
            <td>{{this.total}}</td>
            <td>{{this.createdAt}}</td>
            <td><a href="/admin/order/detail" class="btn btn-primary"><i
                  class="bi bi-eye"
                ></i></a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>