* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #d70018;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.custom-fs-10px {
  font-size: 10px;
}
.custom-fs-12px {
  font-size: 12px;
}
.custom-fs-14px {
  font-size: 14px;
}

.custom-w-fitcontent {
  width: fit-content;
}
.custom-mw-720px {
  max-width: 720px;
}
/* color */
.custom-bg-red {
  background-color: var(--primary-color);
}
.custom-bg-gray {
  background-color: #f3f4f6;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.custom-none-scroll::-webkit-scrollbar {
  display: none;
}
