* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #d70018;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.custom-fs-10px {
  font-size: 10px;
}
.custom-fs-12px {
  font-size: 12px;
}
.custom-fs-14px {
  font-size: 14px;
}

.custom-w-fitcontent {
  width: fit-content;
}
.custom-mw-720px {
  max-width: 720px;
}
/* color */
.custom-bg-red {
  background-color: var(--primary-color);
}
.custom-bg-gray {
  background-color: #f3f4f6;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.custom-none-scroll::-webkit-scrollbar {
  display: none;
}
.custom-fit-img-400px {
  height: 400px;
  object-fit: cover;
}
.text-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Số dòng muốn hiển thị */
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3em; /* Chiều cao cần thiết để hiển thị 2 dòng, phụ thuộc vào line-height */
  line-height: 1.5em; /* Điều chỉnh line-height để phù hợp với font-size */
}
div.floaty {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: pink;
  top: 50%;
  left: 0;
}
