<footer class="bg-white text-black py-4 opacity-75 mt-5"
    style="box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15)">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Về chúng tôi</h5>
                <p>Chúng tôi chuyên cung cấp đa dạng các thiết bị điện tử để đáp ứng mọi nhu cầu công nghệ của bạn. Từ
                    những chiếc điện
                    thoại thông minh và máy tính bảng mới nhất đến các phụ kiện hiện đại, chúng tôi mang đến sản phẩm
                    chất lượng và dịch vụ
                    khách hàng tuyệt vời. Khám phá bộ sưu tập của chúng tôi và luôn kết nối với công nghệ tốt nhất tại
                    HLP Store.
                </p>
            </div>
            <div class="col-md-3">
                <h5>Truy cập nhanh</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/signup">Đăng kí ngay</a></li>
                    <li><a href="/me/cart">Giỏ hàng</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Liên hệ với chúng tôi</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-geo-alt-fill"></i>26/10 Lê Hồng Phong, Phường Bình Thủy, Quận Bình Thủy, Thành
                        phố Cần Thơ</li>
                    <li><a class="text-black" href="mailto:030203luan@gmail.com"><i class="bi bi-envelope-fill"></i>
                            030203luan@gmail.com</a></li>
                    <li><a class="text-black" href="tel:+84382909902"><i class="bi bi-phone-fill"></i> 0382909902</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>