<header class="custom-bg-red text-white p-2">
  <div class="container">
    <div class="row fs-4">
      <div class="col-3">CellPhoneS</div>
      <div class="col-4">
        <input class="w-100" type="text" />
      </div>
      <div class="col">
        <div>
          <a href="tel:0123456789">Chăm sóc khách hàng</a>
          <a href="/cart">Giỏ hàng</a>
          <a href="/login">Đăng nhập</a>
        </div>
      </div>
    </div>
  </div>
</header>