<div class="header-main">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin"><i
                class="bi bi-house"
              ></i>
              HOME</a>
          </li>
          <li class="nav-item ms-2">
            <a class="nav-link" href="/admin/product"><i class="bi bi-box2"></i>
              SẢN PHẨM</a>
          </li>
          <li class="nav-item ms-2">
            <a class="nav-link" href="/admin/order"><i
                class="bi bi-envelope-paper"
              ></i>
              ĐƠN HÀNG</a>
          </li>
          <li class="nav-item ms-2">
            <a class="nav-link" href="/admin/category"><i
                class="bi bi-list"
              ></i>
              DANH MỤC</a>
          </li>
          <li class="nav-item ms-2">
            <a class="nav-link" href="/admin/warranty/show"><i
                class="bi bi-shield-lock"
              ></i>
              BẢO HÀNH</a>
          </li>
          <li class="nav-item ms-2">
            <a class="nav-link" href="/admin/accessProviders"><i
                class="bi bi-universal-access-circle"
              ></i>
              TÀI KHOẢN</a>
          </li>
          <li class="nav-item ms-2">
            <a class="nav-link" href="/admin/banner"><i
                class="bi bi-card-image"
              ></i>
              BANNER</a>
          </li>
          <li class="nav-item ms-2">
            <a class="nav-link" href="/admin/accessReview"><i
                class="bi bi-star-fill"
              ></i>
              Duyệt đánh giá</a>
          </li>
          <li class="nav-item ms-2">
            <a class="nav-link" href="/admin/listMessage"><i
                class="bi bi-star-fill"
              ></i>
              Chat</a>
          </li>
          {{! <li class="nav-item ms-2">
            <a class="nav-link" href="/admin/store"><i class="bi bi-shop-window"></i>
              Cửa Hàng</a>
          </li> }}
        </ul>
      </div>
    </div>
    <div style="width: 30%; !important" id="navbarSupportedContent">
      <ul
        class="navbar-nav me-auto d-flex align-items-center justify-content-end"
      >
        <li class="nav-item ms-2">
          <a class="nav-link active">XIN CHÀO: {{name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><i
              class="bi bi-box-arrow-right"
            ></i>
            ĐĂNG XUẤT</a>
        </li>
      </ul>
    </div>
  </nav>
</div>