<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top z-2 custom-bg-red ">
  <div class="container">
    <a class="navbar-brand text-white" href="/">HLP Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item">
          <a class="nav-link text-white " aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <p style="margin-bottom: 0;" class="nav-link text-white pe-auto" role="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">Danh
            mục
          </p>

          <ul class="dropdown-menu z-3" aria-labelledby="dropdownMenuButton1">
            {{#each categories}}
            <li><a class="dropdown-item" href="/{{this.slug}}">{{this.name}}</a></li>
            {{/each}}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="tel:0382909902">Chăm sóc khách hàng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/me/cart">Giỏ hàng</a>
        </li>

      </ul>
      <div class="gap-3 nav justify-content-center">
        <form action="/search" class="d-flex me-2">
          <input type="text" name="_find" hidden>
          {{!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
          <button class="btn btn-outline-light text-danger bg-white" type="submit">Tìm</button> --}}
          <div class="input-group">
            <input type="text" class="form-control border-0 shadow-none" placeholder="Từ khóa tìm kiếm..." name="q">
            <button class="btn btn-outline-secondary bg-white border-0 text-secondary" type="submit"><i
                class="bi bi-search"></i></button>
          </div>
        </form>
        {{#if name}}
        <a class="navbar-brand fs-5 d-flex align-items-center" href="/me">
          <span class="text-white">{{name}}</span>
          <img src="https://www.w3schools.com/bootstrap5/img_avatar1.png" alt="Avatar Logo"
            style="width:40px; margin-left:5px;" class="rounded-pill" />
        </a>

        {{else}}
        <div class="text-center">
          <a href="/login" class="btn btn-outline-light me-2">Login</a>
          <a href="/signUp" class="btn btn-warning">Sign-up</a>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</nav>




<div class="goToTop position-fixed btn d-none z-3" style="bottom: 10px; right:10px">
  <i class="bi bi-arrow-up-circle-fill  fs-1 text-danger bg-white"></i>
</div>


{{!-- hiển thị nút goToTop khi đã được scroll xuống bằng js --}}
<script>
  $(document).ready(function () {
    $(window).scroll(function () {
      if ($(this).scrollTop() > 100) {
        $('.goToTop').removeClass('d-none');
      } else {
        $('.goToTop').addClass('d-none');
      }
    });
    $('.goToTop').click(function () {
      $('html, body').animate({ scrollTop: 0 }, 50);
      return false;
    });
  });
</script>