<header class="p-3 custom-bg-red text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center fs-3 mb-2 mb-lg-0 text-white text-decoration-none"
      >
        CellPhoneZ
      </a>
      <button type="button" class="btn btn-warning ms-lg-3 text-white">Danh mục</button>
      <form class="col-12 col-lg-4 mb-3 mb-lg-0 ms-lg-auto">
        <input
          type="search"
          class="form-control form-control-dark"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <ul
        class="nav col-12 col-lg-auto ms-lg-auto me-lg-2 mb-2 justify-content-center mb-md-0"
      >
        <li><a href="tel:0123456789" class="nav-link px-2 fs-5 text-white">Trung
            tâm tư vấn</a></li>
        <li><a href="/me/cart" class="nav-link px-2 fs-5 text-white">Giỏ hàng</a></li>
      </ul>
      {{#if name}}
        <a class="navbar-brand fs-5" href="/me">
          <span class="">{{name}}</span>
          <img
            src="https://www.w3schools.com/bootstrap5/img_avatar1.png"
            alt="Avatar Logo"
            style="width:40px;"
            class="rounded-pill"
          />
        </a>

      {{else}}
        <div class="text-end">
          <a href="/login" class="btn btn-outline-light me-2">Login</a>
          <a href="/signUp" class="btn btn-warning">Sign-up</a>
        </div>
      {{/if}}

    </div>

  </div>

</header>
<div class="container">
  <ul class="nav">
    <li><a class="" href="">Trang chủ</a></li>
    <li class="mx-3">&gt;</li>
    <li><a class="" href="">Điện thoại</a></li>
    <li class="mx-3">&gt;</li>
    <li><a class="" href="">Xiaomi</a></li>
    <li class="mx-3">&gt;</li>
    <li><a class="" href="">Redmi Note 12</a></li>
  </ul>
</div>