<header class="bg-red">
  <div class="content d-flex justify-content-between">
    <div class="logo">
      <a href="/">CellphoneS</a>
    </div>
    <div class="search">
      <input type="text" placeholder="Bạn cần tìm gì?" />
    </div>
    <div class="cart">
      <a href="#"><i class="fas fa-shopping-cart"></i>Giỏ hàng</a>
    </div>
    <div class="user">
      <a href="#"><i class="fas fa-user"></i> Đăng nhập</a>
    </div>
  </div>
  <nav>
    <ul>
      <li><a href="">Điện thoại</a></li>
      <li><a href="">Laptop</a></li>
      <li><a href="">Tablet</a></li>
      <li><a href="">Đồng hồ</a></li>
      <li><a href="">Tai nghe</a></li>
    </ul>
  </nav>
</header>