<div class="header-main">
  <div>
    <ul class="main-menu">
      <li><a href="">TRANG CHỦ</a></li>
      <li>
        <a href="">SẢN PHẨM</a>
          <div class="navsp">
            <div class="item-child"></div>
          </div>
      </li>
      <li><a href="">ĐƠN HÀNG</a></li>
      <li><a href="">DANH MỤC</a></li>
    </ul>
  </div>
</div>