<ul class="p-0">
  <li class="fs-5"><a class="text-black py-2 d-block" href="/">Thông tin cá nhân</a></li>
  <li class="fs-5"><a class="text-black py-2 d-block" href="/me/address">Địa chỉ
      nhận hàng</a></li>
  <li class="fs-5"><a
      class="text-black py-2 d-block"
      href="/me/changePassword"
    >Đổi mật khẩu</a></li>
  <li class="fs-5"><a class="text-black py-2 d-block" href="/me/history">Lịch sử
      đơn hàng</a></li>
  <li class="fs-5"><a class="text-black py-2 d-block" href="">Lịch sử bảo hành</a></li>
  <li class="fs-5"><a class="text-black py-2 d-block" href="">Lịch sử bảo hành</a></li>
</ul>