<div class="container">
  <h1 class="fs-3 fw-bold">Cart</h1>
  <div class="row">
    <div class="col-7">
      <table class="table table-responsive text-center align-middle">
        <thead>
          <tr class="fw-bold fs-5">
            <th class="col-2"></th>
            <th class="col-4">Tên</th>
            <th class="col-1">Giá</th>
            <th class="col-2">Số lượng</th>
            <th class="col-2">Tổng tiền</th>
            <th class="col-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><div class=""><img
                  src="img/static/login.jpeg"
                  class="img-thumbnail"
                  alt=""
                /></div></td>
            <td class="text-start"><a href="google.com">Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Voluptates, ipsum</a></td>
            <td>23.000.000</td>
            <td>
              <div class="d-flex justify-content-between align-items-center">
                <button class="w-25">-</button><input
                  type="text"
                  class="w-50 text-center border-0"
                  value="6"
                /><button class="w-25">+</button>
              </div>
            </td>
            <td class="fw-bold">89.000.000</td>
            <td><i class="bi bi-trash3"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fs-4">Tóm tắt</h5>
          <div class="row">
            <div class="col-6">Tổng tiền sản phẩm</div>
            <div class="col-6 text-end">98.000.000 đ</div>
          </div>
          <div class="row">
            <div class="col-6">Phí vận chuyển</div>
            <div class="col-6 text-end">30000 đ</div>
          </div>
          <div class="row fs-5 fw-bold">
            <div class="col-6">Tổng cộng</div>
            <div class="col-6 text-end">98.030.000 đ</div>
          </div>
          <a href="/payment" class="btn btn-primary w-100 mt-3">Đặt hàng</a>
        </div>
      </div>
    </div>
  </div>
</div>