<div class="container">
  <h1 class="fs-1 text-center">Đổi mật khẩu</h1>
  <form action="/api/password?_method=PUT" method="post" class="">
    <div class="row mb-4 mb-lg-1 row-cols-1">
      <div class="col-lg-3 col">
        <label for="inpOldPw" class="form-label fs-4">Mật khẩu cũ</label>
      </div>
      <div class="col-lg-6 col">
        <input id="inpOldPw" class="w-100 fs-4 border-top-0 border-start-0 border-end-0 border-bottom-1 border-2"
          name="oldPw" type="password" />
      </div>
    </div>
    <div class="row mb-4 mb-lg-1 row-cols-1">
      <div class="col-lg-3 col">
        <label for="inpNewPw" class="form-label fs-4">Mật khẩu mới</label>
      </div>
      <div class="col-lg-6 col">
        <input id="inpNewPw" class="w-100 fs-4 border-top-0 border-start-0 border-end-0 border-bottom-1 border-2"
          name="newPw" type="password" />
      </div>
    </div>
    <div class="row mb-4 mb-lg-1 row-cols-1">
      <div class="col-lg-3 col">
        <label for="inpReNewPw" class="form-label fs-4">Nhập lại mật khẩu mới</label>
      </div>
      <div class="col-lg-6 col">
        <input id="inpReNewPw" class="w-100 fs-4 border-top-0 border-start-0 border-end-0 border-bottom-1 border-2"
          name="reNewPw" type="password" />
      </div>
    </div>
    <div class="row mb-4 mb-lg-1 row-cols-1 mt-2">
      <div class="col-lg-3 col">
      </div>
      <div class="col-lg-6 col">
        <button class="btn btn-primary fs-4 w-100">Lưu mật khẩu</button>
      </div>
    </div>
  </form>
</div>