<div class="container">
  <h1>Tạo mật khẩu mới</h1>
  <form class="">

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input
        type="oldPassword"
        id="oldPassword"
        class="form-control form-control-lg"
        placeholder="Nhập mật khẩu cũ"
      />
      <label class="form-label" for="oldPassword">Mật khẩu cũ</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-3">
      <input
        type="password"
        id="newPassword"
        class="form-control form-control-lg"
        placeholder="Nhập mật khẩu mới"
      />
      <label class="form-label" for="password">Nhập mật khẩu mới</label>
    </div>
    <div class="form-outline mb-3">
      <input
        type="password"
        id="confirmNewPassword"
        class="form-control form-control-lg"
        placeholder="Nhập lại mật khẩu mới"
      />
      <label class="form-label" for="confirmPassword">Xác nhận mật khẩu mới</label>
    </div>
    <div class="text-center text-lg-start mt-4 pt-2">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        style="padding-left: 2.5rem; padding-right: 2.5rem;"
      >Đổi mật khẩu</button>
    </div>

  </form>
</div>