<div class="container mt-3">
  <h1 class="fs-1 text-center">Lịch sử bảo hành</h1>
  <div class="row d-inline-flex border">
    <div class="col mt-3">
      <span>01/12/2023</span>
      -
      <span>19/03/2024</span>
    </div>
  </div>
  <ul class="p-0 nav mt-3">
    <li class="me-2 border btn-light px-3 py-1 rounded">Tất cả</li>
    <li class="me-2 border btn-light px-3 py-1 rounded">Đã tiếp nhận</li>
    <li class="me-2 border btn-light px-3 py-1 rounded">Đang sửa</li>
    <li class="me-2 border btn-light px-3 py-1 rounded">Đã sửa xong</li>
    <li class="me-2 border btn-light px-3 py-1 rounded">Đã hoàn thành</li>
  </ul>
  <div class="row mt-3">
    <div class="col-2">
      <img
        class="w-100"
        src="https://down-vn.img.susercontent.com/file/sg-11134201-7rbl5-lom78yxb86e4f1"
        alt=""
      />
    </div>
    <div class="col-10">
      <p class="fs-4">Jinf Móc Khóa Bàn Phím Cơ Học + 1 Ngón Tay Hình Cá Dạ Quang Sáng Tạo Làm Quà Tặng</p>
      <div class="d-flex justify-content-between ">
        <button class="btn btn-primary">Đã hoàn thành</button>
        <button class="btn btn-danger ">Xem chi tiết</button>
      </div>
  </div>
</div>