<div class="container mt-3">
    <h1 class="fs-1 text-center">Sản phẩm đã xem</h1>
    <div class="align-items-stretch row row-cols-lg-4 row-cols-sm-3 row-cols-2 g-2">
        {{#each products}}
        {{> cardProductShow}}
        {{/each}}
    </div>

</div>