<div class="container mt-3">
  <div class="row">
    <div class="col-1">
      <img
        src="https://cellphones.com.vn/smember/_nuxt/img/Shipper_CPS3.77d4065.png"
        alt="avt nè"
        class="img-thumbnail rounded-circle"
      />
    </div>
    <div class="col">
      <div class="text-capitalize fw-bold fs-5 mb-1">tao nè</div>
      <button
        class="border border-1 border-danger rounded-2 px-3 bg-white text-danger"
      >Znew</button>
    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
</div>