<div class="container">
  <h1 class="fs-1 text-center">Thông tin cá nhân</h1>
  <div class="row">
    <div class="col-3">
      <label for="inpName" class="form-label fs-4">Họ và tên</label>
    </div>
    <div class="col-6">
      <input
        id="inpName"
        class="w-50 border-0 fs-4"
        name="name"
        type="text"
        value="Nguyễn văn phát"
        disabled
      />
    </div>
    <div class="col-3">
      <button><i class="bi bi-pencil-square"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label for="inpEmail" class="form-label fs-4">Email</label>
    </div>
    <div class="col-6">
      <input
        id="inpEmail"
        class="w-50 border-0 fs-4"
        name="email"
        type="email"
        value="Nguyễn văn phát"
        disabled
      />
    </div>
    <div class="col-3">
      <button><i class="bi bi-pencil-square"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label for="inpPhone" class="form-label fs-4">Số điện thoại</label>
    </div>
    <div class="col-6">
      <input
        id="inpPhone"
        class="w-50 border-0 fs-4"
        name="phone"
        type="text"
        value="Nguyễn văn phát"
        disabled
      />
    </div>
    <div class="col-3">
      <button><i class="bi bi-pencil-square"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label for="inpGender" class="form-label fs-4">Giới tính</label>
    </div>
    <div class="col-6">
      <select name="gender" id="inpGender" class="w-100" disabled>
        <option value="0">Nam</option>
        <option value="1">Nữ</option>
      </select>
    </div>
    <div class="col-3">
      <button><i class="bi bi-pencil-square"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label for="inpDateBirth" class="form-label fs-4">Ngày sinh</label>
    </div>
    <div class="col-6">
      <input
        id="inpDateBirth"
        class="w-50 border-0 fs-4"
        name="dateBirth"
        type="date"
        value="Nguyễn văn phát"
        disabled
      />
    </div>
    <div class="col-3">
      <button><i class="bi bi-pencil-square"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label for="inpDateJoin" class="form-label fs-4">Ngày tham gia</label>
    </div>
    <div class="col-6">
      <input
        id="inpDateJoin"
        class="w-50 border-0 fs-4"
        name="dateJoin"
        type="date"
        value="Nguyễn văn phát"
        disabled
      />
    </div>
    <div class="col-3">
      <button><i class="bi bi-pencil-square"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label for="" class="form-label fs-4">Địa chỉ</label>
    </div>
    <div class="col-6">
      <input
        class="w-50 border-0 fs-4"
        type="text"
        value="Nguyễn văn phát"
        disabled
      />
    </div>
    <div class="col-3">
      <button><i class="bi bi-pencil-square"></i></button>
    </div>
  </div>
</div>