<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F8 - Learn</title>
    <link rel="stylesheet" href="/css/bootstrap.css">

    {{#if css}}
    <link rel="stylesheet" href="/css/{{css}}">
    {{/if}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        {{> header-user}}
        {{{body}}}
        {{> footer-user}}
    </div>
    <script src="https://kit.fontawesome.com/3505ae4a94.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    {{#if js}}
    <script src="/js/{{js}}"></script>
    {{/if}}
</body>

</html>