<div class="container">
  <h1>Samsung Galaxy S24 Ultra</h1>
  <hr />
  <div class="row">
    <div class="col-6">
      <div
        id="carouselExampleControlsNoTouching"
        class="carousel slide"
        data-bs-touch="false"
        data-bs-interval="false"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://cdn2.cellphones.com.vn/insecure/rs:fill:58:58/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone_15_pro_max_256gb_-_10.png"
              class="d-block w-100"
              alt="..."
            />
          </div>

        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControlsNoTouching"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControlsNoTouching"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="description">
        <div class="title">Mô tả</div>
        <div class="body">
          <p>
            Samsung Galaxy S24 Ultra sẽ là chiếc điện thoại đầu tiên trên thế
            giới sử dụng camera 200MP, cùng với đó là cụm camera 4 ống kính, màn
            hình 6.9 inch, chip Exynos 2200, RAM 12GB, bộ nhớ trong 256GB, pin
            6000mAh.
          </p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <ul class="nav text-center">
          <li class="py-1 px-3 me-3 bg-light border rounded" role="button"><strong
          >8GB-128GB</strong><div>14.000.000 đ</div></li>
          <li class="py-1 px-3 me-3 bg-light border rounded" role="button"><strong
          >8GB-256GB</strong><div>14.000.000 đ</div></li>
        <li class="py-1 px-3 me-3 bg-light border rounded" role="button"><strong
          >12GB-256GB</strong><div>14.000.000 đ</div></li>
        <li class="py-1 px-3 me-3 bg-light border rounded" role="button"><strong
          >12GB-512GB</strong><div>14.000.000 đ</div></li>
      </ul>
      <div class="chose-color">
        <div class="title">Chọn màu sắc</div>
        <div class="body">
          <ul class="nav text-center">
            <li
              class="py-1 px-3 me-3 bg-light border rounded"
              role="button"
            ><strong>Đen</strong><div>13.000.000 đ</div></li>
            <li
              class="py-1 px-3 me-3 bg-light border rounded"
              role="button"
            ><strong>Trắng</strong><div>13.000.000 đ</div></li>
            <li
              class="py-1 px-3 me-3 bg-light border rounded"
              role="button"
            ><strong>Xanh</strong><div>13.000.000 đ</div></li>
            <li
              class="py-1 px-3 me-3 bg-light border rounded"
              role="button"
            ><strong>Vàng</strong><div>13.000.000 đ</div></li>
          </ul>
        </div>
      </div>
      <div class="action my-3 row">
        <div class="col-8"><button
            class="w-100 py-3 h-100 rounded border bg-danger fs-4"
          >Mua Ngay</button></div>
        <div class="col-4"><button
            class="w-100 py-3 h-100 rounded border bg-light fs-6"
          >Thêm vào giỏ hàng</button></div>
      </div>
    </div>
  </div>

</div>