<div class="container">
  <h1>Samsung Galaxy S24 Ultra</h1>
  <hr />
  <div class="col-6">
    <img
      src="https://cdn2.cellphones.com.vn/insecure/rs:fill:58:58/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone_15_pro_max_256gb_-_10.png"
      alt=""
      class="card-img"
    />
  </div>
  <div class="col-6">

  </div>
</div>