<div class="container">
  {{! điều hướng }}
  <ul class="nav">
    <li><a class="" href="">Trang chủ</a></li>
    <li class="mx-3">&gt;</li>
    <li><a class="" href="">Điện thoại</a></li>
    <li class="mx-3">&gt;</li>
    <li><a class="" href="">Xiaomi</a></li>
    <li class="mx-3">&gt;</li>
    <li><a class="" href="">Redmi Note 12</a></li>
  </ul>
  {{! bộ lọc }}
  <div class="filter nav my-4 align-items-center">
    <div class="title fs-5 me-4">Bộ lọc</div>
    <div class="filter-item">
      <div
        class="title dropdown-toggle border fs-5 px-2 py-1 rounded me-2"
        {{! id="navbarDarkDropdownMenuLink" }}
        role="button"
        data-bs-toggle="dropdown"
        data-bs-auto-close="outside"
        aria-expanded="false"
      >Hãng</div>
      <div class="body dropdown-menu">
        <ul class="list nav">
          <li class="bg-light p-1 m-2 rounded">Xiaomi</li>
          <li class="bg-light p-1 m-2 rounded">Apple</li>
          <li class="bg-light p-1 m-2 rounded">Samsung</li>
        </ul>
        <hr class="dropdown-divider" />
        <div class="action">
          <button class="btn btn-light">Bỏ chọn</button>
          <button class="btn btn-primary">Lọc</button>
        </div>
      </div>
    </div>
    {{! sdfsdfsdfsd }}
    <div class="filter-item">
      <div
        class="title dropdown-toggle border fs-5 px-2 py-1 rounded me-2"
        {{! id="navbarDarkDropdownMenuLink" }}
        role="button"
        data-bs-toggle="dropdown"
        data-bs-auto-close="outside"
        aria-expanded="false"
      >Hãng</div>
      <div class="body dropdown-menu">
        <ul class="list nav">
          <li class="bg-light p-1 m-2 rounded">Xiaomi</li>
          <li class="bg-light p-1 m-2 rounded">Apple</li>
          <li class="bg-light p-1 m-2 rounded">Samsung</li>
        </ul>
        <hr class="dropdown-divider" />
        <div class="action">
          <button class="btn btn-light">Bỏ chọn</button>
          <button class="btn btn-primary">Lọc</button>
        </div>
      </div>
    </div>
    <div class="filter-item">
      <div
        class="title dropdown-toggle border fs-5 px-2 py-1 rounded me-2"
        {{! id="navbarDarkDropdownMenuLink" }}
        role="button"
        data-bs-toggle="dropdown"
        data-bs-auto-close="outside"
        aria-expanded="false"
      >Hãng</div>
      <div class="body dropdown-menu">
        <ul class="list nav">
          <li class="bg-light p-1 m-2 rounded">Xiaomi</li>
          <li class="bg-light p-1 m-2 rounded">Apple</li>
          <li class="bg-light p-1 m-2 rounded">Samsung</li>
        </ul>
        <hr class="dropdown-divider" />
        <div class="action">
          <button class="btn btn-light">Bỏ chọn</button>
          <button class="btn btn-primary">Lọc</button>
        </div>
      </div>
    </div>
    <div class="filter-item">
      <div
        class="title dropdown-toggle border fs-5 px-2 py-1 rounded me-2"
        {{! id="navbarDarkDropdownMenuLink" }}
        role="button"
        data-bs-toggle="dropdown"
        data-bs-auto-close="outside"
        aria-expanded="false"
      >Hãng</div>
      <div class="body dropdown-menu">
        <ul class="list nav">
          <li class="bg-light p-1 m-2 rounded">Xiaomi</li>
          <li class="bg-light p-1 m-2 rounded">Apple</li>
          <li class="bg-light p-1 m-2 rounded">Samsung</li>
        </ul>
        <hr class="dropdown-divider" />
        <div class="action">
          <button class="btn btn-light">Bỏ chọn</button>
          <button class="btn btn-primary">Lọc</button>
        </div>
      </div>
    </div>
    <div class="filter-item">
      <div
        class="title dropdown-toggle border fs-5 px-2 py-1 rounded me-2"
        {{! id="navbarDarkDropdownMenuLink" }}
        role="button"
        data-bs-toggle="dropdown"
        data-bs-auto-close="outside"
        aria-expanded="false"
      >Hãng</div>
      <div class="body dropdown-menu">
        <ul class="list nav">
          <li class="bg-light p-1 m-2 rounded">Xiaomi</li>
          <li class="bg-light p-1 m-2 rounded">Apple</li>
          <li class="bg-light p-1 m-2 rounded">Samsung</li>
        </ul>
        <hr class="dropdown-divider" />
        <div class="action">
          <button class="btn btn-light">Bỏ chọn</button>
          <button class="btn btn-primary">Lọc</button>
        </div>
      </div>
    </div>
    <div class="filter-item">
      <div
        class="title dropdown-toggle border fs-5 px-2 py-1 rounded me-2"
        {{! id="navbarDarkDropdownMenuLink" }}
        role="button"
        data-bs-toggle="dropdown"
        data-bs-auto-close="outside"
        aria-expanded="false"
      >Hãng</div>
      <div class="body dropdown-menu">
        <ul class="list nav">
          <li class="bg-light p-1 m-2 rounded">Xiaomi</li>
          <li class="bg-light p-1 m-2 rounded">Apple</li>
          <li class="bg-light p-1 m-2 rounded">Samsung</li>
        </ul>
        <hr class="dropdown-divider" />
        <div class="action">
          <button class="btn btn-light">Bỏ chọn</button>
          <button class="btn btn-primary">Lọc</button>
        </div>
      </div>
    </div>
    {{! fsdfsdffsdf }}
  </div>
  {{! chi tiết đang lọc }}
  <div class="filtering my-4">
    <div class="title fs-5">Đang lọc theo</div>
    <ul class="nav">

      <a href=""><li
          class="p-1 me-2 text-danger bg-light rounded border border-danger"
        ><i class="bi bi-x-circle text-danger"></i>
          xiaomi</li></a>
      <a href=""><li
          class="p-1 me-2 text-danger bg-light rounded border border-danger"
        ><i class="bi bi-x-circle text-danger"></i>
          512GB</li></a>
      <a href=""><li
          class="p-1 me-2 text-danger bg-light rounded border border-danger"
        ><i class="bi bi-x-circle text-danger"></i>
          6.1 inch</li></a>
      <a href=""><li
          class="p-1 me-2 text-danger bg-light rounded border border-danger"
        ><i class="bi bi-x-circle text-danger"></i>
          Bỏ chọn tất cả</li></a>
    </ul>
  </div>
  {{! sắp xếp }}
  <div class="sort d-flex justify-content-between">
    <div class="title fs-4 fw-bold text-uppercase">Điện thoại</div>
    <select class="body fs-6 rounded">
      <option value="1">Giá thấp đến cao</option>
      <option value="2">Giá cao đến thấp</option>
      <option value="3">Mới nhất</option>
      <option value="4">Cũ nhất</option>
    </select>
  </div>
</div>