<div>
  {{! điều hướng }}
  <ul>
    <li><a href="">Trang chủ</a></li>
    <li><a href="">Điện thoại</a></li>
    <li><a href="">Xiaomi</a></li>
    <li><a href="">Redmi Note 12</a></li>
  </ul>
</div>