<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
      hr {
        margin: 10px 0 0;
      }
      h3 {
        margin: 10px 0 0;
      }
    </style>
  </head>
  <body>
    <h1 style="align-items: center">Hóa Đơn Mua Hàng</h1>
  </body>
</html>
