{{! quản lý danh sách comment, bảng bao gồm các cột: tên người gửi, tên sản phẩm, nội dung, thời gian, action }}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Quản lý comment</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Tên người gửi</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Nội dung</th>
            <th scope="col">Thời gian</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each comments}}
            <tr>
              <td>{{name}}</td>
              <td>{{productName}}</td>
              <td>{{content}}</td>
              <td>{{time}}</td>
              <td>
                <a class="btn btn-danger">Đi đến</a>
                <button>Phản hồi</button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>